@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff");
}
.page {
  background-color: #ffffff;
  font-family: "PT Sans", sans-serif;
}

.page__body {
  margin: 0;
}

@media (min-width: 768px) {
  .page__body {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .page__body {
    width: 1200px;
    margin: 0 auto;
  }
}
.button {
  background-color: #ffffff;
  border: none;
  color: #000000;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 16px 36px;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.button-icon {
  background-color: #ffffff;
}

.button-primary {
  color: #ffffff;
  background-color: #81b3d2;
}
.button-primary:hover, .button-primary:focus {
  background-color: #669ec0;
}
.button-primary:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .button {
    padding: 16px 136px;
  }
}
.icon {
  background-color: transparent;
}

.help-text {
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
  line-height: 21px;
}

.help-text--capital {
  text-transform: uppercase;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 90;
  display: none;
}

.backdrop--show {
  display: block;
}

@media (min-width: 768px) {
  .backdrop {
    display: none;
  }
}
.main-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 56px;
}

.main-header__logo {
  position: absolute;
  height: 96px;
  z-index: 10;
  left: calc(50% - 92.5px);
}

.main-header__toggle-button {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.9 0H0V4H22.9V0Z' fill='%2381B3D2'/%3E%3Cpath d='M22.9 9H0V13H22.9V9Z' fill='%2381B3D2'/%3E%3Cpath d='M22.9 18H0V22H22.9V18Z' fill='%2381B3D2'/%3E%3C/svg%3E%0A");
  background-color: transparent;
  outline: none;
  cursor: pointer;
  fill: #81b3d2;
}

.main-header__toggle-button--open {
  z-index: 110;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.2 2.8L19.4 0L11.1 8.3L2.8 0L0 2.8L8.3 11.1L0 19.4L2.8 22.2L11.1 13.9L19.4 22.2L22.2 19.4L13.9 11.1L22.2 2.8Z' fill='white'/%3E%3C/svg%3E%0A");
}

@media (min-width: 768px) {
  .main-header__logo {
    display: none;
  }

  .main-header__toggle-button {
    display: none;
  }
}
.main-nav {
  background-color: #ffffff;
}

.main-nav__list {
  position: absolute;
  top: 0;
  z-index: 100;
  display: none;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__list--open {
  display: flex;
}

.main-nav__item {
  background-color: #81b3d2;
}

.main-nav__link--capital {
  text-transform: uppercase;
}

.main-nav__link {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav__logo {
  display: none;
}

@media (min-width: 768px) {
  .main-nav__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__item {
    background-color: transparent;
    width: 153px;
  }

  .main-nav__item--active a {
    color: #766357;
  }

  .main-nav__link {
    color: #000000;
    border: none;
  }

  .main-nav__logo {
    display: inherit;
    height: 56px;
    position: absolute;
    left: calc(50% - 92.5px);
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    justify-content: space-around;
  }

  .main-nav__item {
    width: 240px;
  }
}
.main-container {
  background-color: #ffffff;
}

.intro {
  background-color: #a8ccdc;
  background-image: url("./img/back-mobile.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  min-height: 214px;
  overflow: hidden;
}

.intro::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  margin-left: -600px;
  width: 1200px;
  height: 57px;
  background-image: url("img/Vector.png");
}

.intro--main {
  min-height: 389px;
}

.intro__wrapper {
  display: flex;
  justify-content: center;
}

.intro__greeting {
  width: 282px;
  margin-top: 90px;
}

@media (min-width: 768px) {
  .intro {
    min-height: 290px;
  }

  .intro--main {
    min-height: 518px;
  }

  .intro__greeting {
    width: 350px;
  }
}
.places {
  background: #ffffff;
}

.places__header {
  position: relative;
  padding: 32px 20px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.places__wrapper {
  display: flex;
  flex-direction: column;
}

.places__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.places__slogan {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  width: 282px;
  margin: 0 auto 35px;
}

.places__slogan--capital {
  text-transform: uppercase;
}

.places__description {
  font-size: 14px;
  line-height: 21px;
  width: 282px;
  margin: 0 auto;
}

.places__description--capital {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .places__wrapper {
    flex-direction: row;
  }

  .places__slogan {
    width: 520px;
  }

  .places__description {
    width: 520px;
    margin-bottom: 55px;
  }
}
.map {
  background-color: #ffffff;
}

.map__wrapper {
  padding: 0;
  margin: 0;
}

.map__wrapper iframe {
  width: 100%;
  height: 350px;
  border: none;
}

.subject {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  margin: 0;
  padding: 0 24px 0 24px;
}

.subject--order {
  flex-direction: column;
}

.subject--big {
  background-color: #81b3d2;
  width: 100%;
  padding: 0;
}

.subject--big .subject__item {
  border: none;
}

.subject__item {
  padding: 24px 16px;
  border-bottom: 1px solid #d6d6d6;
}

.subject__title {
  color: #333333;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.subject__title--big {
  color: #ffffff;
}

.subject__title--capital {
  text-transform: uppercase;
}

.subject__number {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin-bottom: 30px;
  display: block;
  text-align: center;
}

.subject__number--big {
  color: #ffffff;
}

.subject__description {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0 auto;
  width: 284px;
  text-align: center;
}

.subject__description--big {
  color: #ffffff;
}

.subject__description--capital {
  text-transform: uppercase;
}

.subject__image {
  display: block;
  width: 100%;
  height: 256px;
  object-fit: none;
  background-position: center center;
}

@media (min-width: 768px) {
  .subject {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .subject--big {
    background-color: #81b3d2;
    width: 100%;
  }

  .subject--order {
    flex-direction: row-reverse;
  }

  .subject__title {
    width: 140px;
    text-align: center;
    margin: 20px auto;
  }

  .subject__description {
    width: 190px;
  }

  .subject__item {
    width: 256px;
    height: 256px;
    box-sizing: border-box;
    margin: 0;
    border: none;
  }

  .subject__image {
    width: 512px;
    height: auto;
    position: relative;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .subject {
    display: flex;
    flex-direction: row;
  }

  .subject--big {
    background-color: #81b3d2;
    width: 100%;
  }

  .subject--order {
    flex-direction: row-reverse;
  }

  .subject__description {
    width: 315px;
  }

  .subject__item {
    width: 400px;
    height: 256px;
    box-sizing: border-box;
  }

  .subject__image {
    width: 800px;
    position: relative;
    height: auto;
    margin: 0;
  }
}
.reference {
  background-color: #ffffff;
}

.reference__wrapper {
  margin: 24px 20px;
}

.reference__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reference__item {
  display: flex;
}

.reference__picture {
  width: 55px;
  height: auto;
  margin: 14px 8px 26px 8px;
}

.reference__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.reference__title--capital {
  text-transform: uppercase;
}

.reference__description {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.reference__description--capital {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .reference__list {
    display: flex;
    justify-content: space-around;
  }

  .reference__item {
    width: 256px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .reference__picture {
    display: flex;
    align-items: center;
    width: 80px;
    height: 120px;
  }
}
.hotel-search {
  background-color: #ffffff;
}

.hotel-search__wrapper {
  padding: 50px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotel-search__title {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.hotel-search__title--capital {
  text-transform: uppercase;
}

.hotel-search__description {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  width: 260px;
}

.hotel-search__description--capital {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .hotel-search__description {
    width: 435px;
  }
}
.feedback {
  background-color: #ffffff;
}

.feedback__wrapper {
  padding: 0 36px 20px 24px;
}

.feedback__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback__slogan {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.feedback__slogan--capital {
  text-transform: uppercase;
}

.feedback__description {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.feedback__description--capital {
  text-transform: uppercase;
}

.feedback-form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.feedback-form__container {
  display: flex;
  flex-direction: column;
}

.feedback-form__submit {
  align-self: center;
}

@media (min-width: 768px) {
  .feedback-form__container {
    flex-direction: row;
  }
}
.user-form {
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
}

.user-form__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.user-form__title--capital {
  text-transform: uppercase;
}

.user-form__name-label {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.user-form__name-label--capital {
  text-transform: uppercase;
}

.user-form__lastname-label {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.user-form__lastname-label--capital {
  text-transform: uppercase;
}

.user-form__middlename-label {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.user-form__middlename-label--capital {
  text-transform: uppercase;
}

.contacts-form {
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
}

.contacts-form__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.contacts-form__title--capital {
  text-transform: uppercase;
}

.contacts-form__phone-label {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.contacts-form__phone-label--capital {
  text-transform: uppercase;
}

.contacts-form__email-label {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.contacts-form__email-label--capital {
  text-transform: uppercase;
}

.impression-form {
  background-color: #ffffff;
}

.impression-form__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.impression-form__title--capital {
  text-transform: uppercase;
}

.impression-form__radio-label {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
}

.impression-form__radio-label--bold {
  font-weight: bold;
}

@media (min-width: 768px) {
  .impression-form {
    display: flex;
    flex-wrap: wrap;
  }

  .impression-form__radio-group {
    box-sizing: border-box;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .impression-form {
    justify-content: space-around;
  }

  .impression-form__radio-group {
    width: auto;
  }
}
.sight-form {
  background-color: #ffffff;
}

.sight-form__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.sight-form__title--capital {
  text-transform: uppercase;
}

.sight-form__checkbox-label {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
}

.sight-form__checkbox-label--bold {
  font-weight: bold;
}

@media (min-width: 768px) {
  .sight-form {
    display: flex;
    flex-wrap: wrap;
  }

  .sight-form__checkbox-group {
    box-sizing: border-box;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .sight-form {
    justify-content: space-around;
  }

  .sight-form__checkbox-group {
    width: auto;
  }
}
.message {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.message__text {
  width: 279px;
}

.message__title--capital {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .message__text {
    width: 648px;
  }
}
.gallery {
  background-color: #ffffff;
}

.gallery__header {
  padding: 0 20px;
}

.gallery__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery__slogan {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.gallery__slogan--capital {
  text-transform: uppercase;
}

.gallery__description {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.gallery__wrapper {
  display: grid;
  grid-template-columns: auto;
}

.gallery__description--capital {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .gallery__item:first-child {
    grid-column: 1/3;
  }
}
@media (min-width: 1200px) {
  .gallery__item:first-child {
    grid-column: 1/4;
  }
}
.button {
  background-color: #ffffff;
  border: none;
  color: #000000;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 16px 36px;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.button-icon {
  background-color: #ffffff;
}

.button-primary {
  color: #ffffff;
  background-color: #81b3d2;
}
.button-primary:hover, .button-primary:focus {
  background-color: #669ec0;
}
.button-primary:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .button {
    padding: 16px 136px;
  }
}
.post {
  background-color: #ffffff;
}

.post__media {
  box-sizing: border-box;
  padding: 24px 20px 16px;
  width: 100%;
  height: 260px;
  object-fit: none;
  background-position: center center;
}

.post__footer {
  margin: 0;
  padding: 0 20px 12px;
}

.post__description {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  margin: 0;
}

.post__description--capital {
  text-transform: uppercase;
}

.post__author {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0;
}

.post__like {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
}

.post__interaction {
  padding: 0 20px 24px;
}

@media (min-width: 768px) {
  .post__media {
    padding: 0;
  }

  .post__footer {
    background-color: #f2f2f2;
    display: flex;
    padding: 0;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .post {
    position: relative;
  }

  .post__media {
    padding-top: 0;
  }

  .post__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .post__author {
    color: #ffffff;
  }

  .post__description {
    color: #ffffff;
  }

  .post__like {
    color: #ffffff;
  }
}
.offer {
  background-color: #ffffff;
}

.offer__wrapper {
  padding: 0 20px 16px;
}

.offer__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.offer__title--capital {
  text-transform: uppercase;
}

.offer__description {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  padding: 0 0 38px 0;
}

.offer__description--capital {
  text-transform: uppercase;
}

.offer__video img {
  height: 177px;
  width: 100%;
  object-fit: none;
  background-position: center center;
}

@media (min-width: 768px) {
  .offer__wrapper {
    padding: 0;
  }

  .offer__video img {
    height: 500px;
  }
}
.main-footer {
  background-color: #ffffff;
}

.main-footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px 16px;
}

.main-footer__visitsedona {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 32px;
}

.main-footer__author {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.main-footer__company-description {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: auto 8px;
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}
.socials {
  background-color: #ffffff;
  margin-bottom: 32px;
}
/*# sourceMappingURL=style.css.map */