@import "../components/variables.scss";

.feedback-form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.feedback-form__container {
  display: flex;
  flex-direction: column;
}

.feedback-form__submit {
  align-self: center;
}

@media (min-width: $tablet-width) {
  .feedback-form__container {
    flex-direction: row;
  }
}
