.hotel-search {
  background-color: #ffffff;
}

.hotel-search__wrapper {
  padding: 24px 32px;
}

.hotel-search__title {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.hotel-search__title--capital {
  text-transform: uppercase;
}

.hotel-search__description {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.hotel-search__description--capital {
  text-transform: uppercase;
}
