@import "../components/variables.scss";

.intro {
  background: url("../../img/back-mobile.png") no-repeat #a8ccdc;
  position: relative;
  background-size: cover;
  min-height: 214px;
}

.intro--main {
  min-height: 389px;
}

.intro__wrapper {
  display: flex;
  justify-content: center;
}

.intro__greeting {
  width: 282px;
  margin-top: 90px;
}

@media (min-width: $tablet-width) {
  .intro {
    min-height: 290px;
  }

  .intro--main {
    min-height: 518px;
  }

  .intro__greeting {
    width: 350px;
  }
}
