@import "../components/variables.scss";

.places {
  background: #ffffff;
}

.places__header {
  position: relative;
  padding: 32px 20px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.places__wrapper {
  display: flex;
  flex-direction: column;
}

.places__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.places__slogan {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  width: 282px;
  margin: 0 auto 35px;
}

.places__slogan--capital {
  text-transform: uppercase;
}

.places__description {
  font-size: 14px;
  line-height: 21px;
  width: 282px;
  margin: 0 auto;
}

.places__description--capital {
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .places__wrapper {
    flex-direction: row;
  }

  .places__slogan {
    width: 520px;
  }

  .places__description {
    width: 520px;
    margin-bottom: 55px;
  }
}
