@import "../components/variables.scss";

.reference {
  background-color: #ffffff;
}

.reference__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reference__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.reference__title--capital {
  text-transform: uppercase;
}

.reference__description {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.reference__description--capital {
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .reference__list {
    display: flex;
    justify-content: space-around;
  }

  .reference__item {
    width: 256px;
  }
}
