@import "../components/variables.scss";

.sight-form {
  background-color: #ffffff;
}

.sight-form__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.sight-form__title--capital {
  text-transform: uppercase;
}

.sight-form__checkbox-label {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
}

.sight-form__checkbox-label--bold {
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .sight-form {
    display: flex;
    flex-wrap: wrap;
  }

  .sight-form__checkbox-group {
    box-sizing: border-box;
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .sight-form {
    justify-content: space-around;
  }

  .sight-form__checkbox-group {
    width: auto;
  }
}
