@import "../components/variables.scss";

.subject {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  margin: 0;
  padding: 0 24px 0 24px;
}

.subject--order {
  flex-direction: column;
}

.subject--big {
  background-color: #81b3d2;
  width: 100%;
  padding: 0;
}

.subject--big .subject__item {
  border: none;
}

.subject__item {
  padding: 24px 16px;
  border-bottom: 1px solid #d6d6d6;
}

.subject__title {
  color: #333333;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.subject__title--big {
  color: #ffffff;
}

.subject__title--capital {
  text-transform: uppercase;
}

.subject__number {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin-bottom: 30px;
  display: block;
  text-align: center;
}

.subject__number--big {
  color: #ffffff;
}

.subject__description {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0 auto;
  width: 284px;
  text-align: center;
}

.subject__description--big {
  color: #ffffff;
}

.subject__description--capital {
  text-transform: uppercase;
}

.subject__image {
  display: block;
  width: 100%;
  height: 256px;
  object-fit: none;
  background-position: center center;
}

@media (min-width: $tablet-width) {
  .subject {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .subject--big {
    background-color: #81b3d2;
    width: 100%;
  }

  .subject--order {
    flex-direction: row-reverse;
  }

  .subject__title {
    width: 140px;
    text-align: center;
    margin: 20px auto;
  }

  .subject__description {
    width: 190px;
  }

  .subject__item {
    width: 256px;
    height: 256px;
    box-sizing: border-box;
    margin: 0;
    border: none;
  }

  .subject__image {
    width: 512px;
    height: auto;
    position: relative;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .subject {
    display: flex;
    flex-direction: row;
  }

  .subject--big {
    background-color: #81b3d2;
    width: 100%;
  }

  .subject--order {
    flex-direction: row-reverse;
  }

  .subject__description {
    width: 315px;
  }

  .subject__item {
    width: 400px;
    height: 256px;
    box-sizing: border-box;
  }

  .subject__image {
    width: 800px;
    position: relative;
    height: auto;
    margin: 0;
  }
}
