@import "../components/variables.scss";

.subject {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

.subject--order {
  flex-direction: column;
}

.subject--big {
  background-color: #81b3d2;
  width: 100%;
}

.subject__item {
  padding: 24px 16px;
}

.subject__title {
  color: #333333;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.subject__title--big {
  color: #ffffff;
}

.subject__title--capital {
  text-transform: uppercase;
}

.subject__number {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.subject__number--big {
  color: #ffffff;
}

.subject__description {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.subject__description--big {
  color: #ffffff;
}

.subject__description--capital {
  text-transform: uppercase;
}

.subject__image {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: none;
  background-position: center center;
}

@media (min-width: $tablet-width) {
  .subject {
    display: flex;
    flex-direction: row;
  }

  .subject--big {
    background-color: #81b3d2;
    width: 100%;
  }

  .subject--order {
    flex-direction: row-reverse;
  }

  .subject__item {
    width: 256px;
    height: 256px;
    box-sizing: border-box;
  }

  .subject__image {
    width: 512px;
    height: auto;
    position: relative;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .subject {
    display: flex;
    flex-direction: row;
  }

  .subject--big {
    background-color: #81b3d2;
    width: 100%;
  }

  .subject__item {
    width: 400px;
    height: 256px;
    box-sizing: border-box;
  }

  .subject__image {
    width: 800px;
    position: relative;
    height: auto;
    margin: 0;
  }
}
