@import "../components/variables.scss";

.main-footer {
  background-color: #ffffff;
}

.main-footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px 16px;
}

.main-footer__visitsedona {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 32px;
}

.main-footer__author {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.main-footer__company-description {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: auto 8px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}
