.main-footer {
  background-color: #ffffff;
}

.main-footer__wrapper {
  padding: 32px 16px;
}

.main-footer__visitsedona {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.main-footer__company-description {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}
